@model ASP_MVC_Basics.Models.Student

@{
    ViewBag.Title = "Details";
}

@section Header{
    This is a header for page Details.cshtml.
}



<fieldset>
    <legend>Student</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Class)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Class)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JoinDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JoinDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HasPaid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HasPaid)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
