@model ASP_MVC_Basics.Models.StudentDetailsViewModel

@{
    ViewBag.Title = "Details";
}

@section Header{
    This is a header for page Details.cshtml.
}


@*<p>@ViewBag.SchoolName</p>
<p>@ViewBag.Student.Name</p>*@
<fieldset>
    <legend>Student</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MyStudent.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MyStudent.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MyStudent.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MyStudent.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MyStudent.Class)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MyStudent.Class)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MyStudent.JoinDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MyStudent.JoinDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MyStudent.HasPaid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MyStudent.HasPaid)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MyStudent.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
